@import '../../AppStyles.css';

.MyFormInfoAlert {
    width: 100%;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid var(--appMainColor, #004456);
    background-color: transparent;
    font-weight: 600;
}   