.SimpleSlider_wrapper {
    width: 100%;
    height: 90vh;
    position: relative;
}

.SimpleSlider {
    width: 100%;
    height: 90vh;
    position: relative;
    > .slick-dots {
        position: absolute;
        bottom: 30px;
        
        > li {
            position: relative;
            display: inline-block;
            width: 20px;
            height: 20px;
            margin: 0 5px;
            padding: 0;
            cursor: pointer;
            
            > button {
                font-size: 0;
                line-height: 0;
                display: block;
                width: 20px;
                height: 20px;
                padding: 5px;
                cursor: pointer;
                color: transparent;
                border: 0;
                outline: none;
                background: transparent;
            }
        }
    }
    > .slick-dots > li > button:before {
        font-family: 'slick';
        font-size: 10px;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        content: '•';
        text-align: center;
        color: var(--appMainColor);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}
.SimpleSlider_img {
    width: 100%;
    height: 90vh;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    filter: brightness(0.5);
}
.SimpleSlider_img.one,
.SimpleSlider_img.two {
    object-position: left center;
}
.SimpleSlider_img.three {
    width: 100%;
    height: 90vh;
    aspect-ratio: 4 / 3;
    object-fit: cover;
    object-position: left bottom;
}

.SimpleSlider_img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1); 
    z-index: 1;
}

.SimpleSlider_wrapperContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e1e1e1;
    text-align: center;
    h2 {
        font-size: clamp(20px, 5vw, 50px);
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 5);
    }
    p {
        margin-top: 30px;
        font-size: clamp(12px, 2vw, 20px);
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 5);
    }
    .app_mainButton.header {
        margin-top: 50px;
        padding: 15px 25px;
        box-shadow: 2px 2px 5px rgba(2, 2, 1, 1);
    }
}