@keyframes slideUpToCenter {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideDownToBottom {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(100%);
        opacity: 0;
    }
}

.myModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    overflow: hidden;
    transition: opacity 0.3s ease;
    z-index: 1000;
}

.myModal.active {
    display: flex;
}

.myModalContent {
    width: 1000px;
    height: auto;
    cursor: default;
    background-color: #fff;
    border-radius: 8px;
    animation: slideUpToCenter 0.3s ease forwards;
    z-index: 1000;
}

.myModal.closing .myModalContent {
    animation: slideDownToBottom 0.3s ease forwards;
}

.myModalContent_closeModalIcon {
    position: absolute;
    top: 30px;
    left: 30px;
    color: #000;
    cursor: pointer;
    transition: all 300ms ease;
    &:hover {
        color: red;
    }
}