@import '../../AppStyles.css';

.Navbar {
    width: 100%;
    height: 10vh;
    background-color: var(--navbarBgColor);
    padding: 20px 5% 15px 5%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    align-items: center;
    z-index: 1000;
}

.navbar_logo_container {
    width: 15%;
    height: 60px;
    text-align: start;
    display: flex;
    align-items: center;
    gap: 10px;
    
    .navbar_logo {
        height: 100%;
    }
    
    .navbar_logo2 {
        height: 50%;
    }
}

.app_mainButton.navbar {
    font-size: clamp(9px, 1vw, 18px);
}

.navbar_links_container {
    display: flex;
    align-items: center;
    gap: 30px;
    
    .navbar_link {
        text-transform: uppercase;
        font-size: clamp(7px, 1vw, 13px);
        color: var(--lightTextColor);
        text-decoration: none;
        transition: color 500ms ease;
        cursor: pointer;
    }
} 

.navbar_links_container.dropdown {
    background-color: var(--navbarBgColor);
    height: 90dvh;
    height: 90vh;
    width: 50%;
    position: absolute;
    top: 70px;
    right: -100%; 
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    border-radius: 0 0 0 10px;
    text-align: center;
    transition: right 0.5s ease; 
    overflow: hidden;
    
    
    > .formLink {
        color: var(--appMainColor);
        font-size: 120px;
    }
    
    .navbar_dropdownButton {
        border: none;
        background: transparent;
        color: var(--appButtonColor);
        font-size: clamp(13px, 1vw, 13px);
    }
}
.navbar_links_container.dropdown.active {
    right: 0;
}

.navbar_info_container {
    display: flex;
    align-items: center;
    gap: 30px;
    
    .navbar_info_tel {
        color: var(--lightTextColor);
        
        p {
            font-size: clamp(11px, 1vw, 16px);
            line-height: 20px;
            cursor: default;
        }
        
        a {
            line-height: 20px;
            text-decoration: none;
            cursor: pointer;
            color: var(--appButtonColor);
            font-weight: 600;
            font-size: clamp(11px, 1vw, 16px);
        }
    }
}

@media (max-width: 768px) {
    .navbar_links_container {
        .navbar_link {
            font-size: 13px;
        }
    }
}

@media (max-width: 1024px) {
    .navbar_links_container.dropdown {
        height: 100vh;
        width: 30%;
    }
    .navbar_links_container.dropdown {
        gap: 40px;
    }
    .navbar_link {
        font-size: 12px !important;
    }
}

@media (max-width: 450px) {
    .navbar_logo_container {
        width: 35px;
        height: 35px;
        text-align: start;
    }
    .navbar_links_container {
        .navbar_link {
            font-size: 10px;
        }
    }
    .navbar_links_container.dropdown {
        height: 100vh;
        width: 50%;
    }
    .navbar_links_container.dropdown {
        gap: 40px;
    }
    .navbar_link {
        font-size: 14px;
    }
}

@media (max-width: 375px) {
    .navbar_links_container.dropdown {
        height: 100vh;
        width: 100%;
    }
    .navbar_links_container.dropdown {
        gap: 40px;
    }
    .navbar_link {
        font-size: 14px;
    }
}