.Footer {
    min-height: 100px;
    width: 100%;
    padding: 30px 10% 30px 10%;
    margin-top: 50px;
    border-top: 1px solid rgb(158, 161, 163);
}

.Footer > p {
    margin-top: 50px;
    text-align: center;
    color: rgb(158, 161, 163);
    font-size: clamp(12px, 2vw, 20px);
}

.footer_info_container {
    display: flex;
}

.footer_contacts_mail_href {
    text-decoration: none;
    color: #000;
}

.footer_developers_container {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.footer_developers_container a {
    cursor: pointer;
    font-weight: 600;
    text-decoration: underline;
    color: #000;
}

.footer_developers_container img {
    width: 40px;
    height: 40px;
}

.footer_developers_container > div {
    display: flex;
    align-items: center;
}

.footer_developers_container > div > img {
    margin-right: 15px;
}

.footer_contacts_container {
    display: flex;
    width: 15%;
    justify-content: center;
}

.footer_contacts_container > div {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.bootstrapIcon {
    margin-right: 15px;
}

.footer_contacts_icons {
    margin-top: 10px;
}

.footer_contacts_icons a {
    margin-right: 15px;
    cursor: pointer;
}

.footer_address_container {
    display: flex;
    justify-content: center;
    width: 50%;
}

.footer_address_container p {
    width: 70%;
}

.footer_address_container p > a {
    text-decoration: none;
    color: #000;

}

.footer_tels_container {
    display: flex;
    align-items: flex-start;
    width: 15%;
}

.footer_tels_container .footer_tels {
    display: flex;
    flex-direction: column;
}

.footer_tels_container .footer_tels > a {
    text-decoration: none;
    color: #000;
}

@media (max-width: 1620px) {
    .footer_tels > a {
        font-size: 13px;
    }

    .footer_contacts_mail_href {
        font-size: 13px;
    }

    .footer_developers_container a {
        font-size: 13px;
    }

    b {
        font-size: 14px !important;
    }

    .footer_address_container & p > a {
        font-size: 13px;
    }

    .bootstrapIcon {
        width: 35px !important;
        height: 35px !important;
    }
}

@media (max-width: 1387px) {
    .footer_info_container & .footer_address_container p {
        width: 50%;
    }

    .footer_contacts_container {
        width: 27.5% !important;
    }

    .footer_tels_container {
        width: 25% !important;
    }

    .footer_developers_container  {
        width: 20% !important;
    }
}

@media (max-width: 1200px) {
    .footer_info_container {
        flex-direction: column;
    }

    .footer_developers_container {
        width: 100% !important;
        justify-content: flex-start;
        margin-bottom: 20px;
    }

    .footer_contacts_container {
        width: 100% !important;
        justify-content: flex-start;
        margin-bottom: 20px;
    }

    .footer_address_container {
        width: 100% !important;
        justify-content: flex-start;
        margin-bottom: 20px;
    }

    .footer_address_container p {
        width: 90%;
    }

    .footer_tels_container {
        width: 100% !important;
        margin-bottom: 20px;
    }
}