.Products {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    padding: 0 15%;
}

.Subtitle {
    margin-bottom: 20px;
    font-size: clamp(20px, 5vw, 50px);
    color: var(--appMainColor);
}

.catalog {
    width: 100%;
    margin-top: 14vh;
    
    .catalogDesc {
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
        color: var(--appMainColor);
        
        > h2 {
            font-size: clamp(20px, 5vw, 50px);
            margin-bottom: 10px;
        }
        
        > p {
            font-size: clamp(12px, 2vw, 23px);
            max-width: 60%;
            margin: 0 auto;
            text-align: center;
        }
    }
    
    .catalogItems {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2%;
        
        >h2 {
            font-size: clamp(20px, 5vw, 50px);
        }
        
        @media (max-width: 940px) {
            .catalogItem {
                width: 30%;
            }
        }
        
        @media (max-width: 480px) {
            .catalogItem {
                width: 45%;
            }
        }
    }
} 

.products_tabs {
    width: 100%;
    margin-top: 3%;
    display: flex;
    gap: 10px;
    justify-content: center;
    cursor: pointer;
    flex-wrap: wrap;
    
    > div {
        width: 30%;
        font-size: clamp(10px, 0.9vw, 23px);
        padding: 10px 20px;
        transition: all 500ms ease;
        border-radius: 8px;
        background-color: var(--appMainColor);
        a {
            text-decoration: none;
            color: #fff;
            font-weight: bold;
        }
    }
}

@media (max-width: 950px) {
    .products_tabs {
        flex-wrap: wrap;
    }
}

@media (max-width: 500px) {
    .products_tabs {
        > div {
            width: 100%;
        }
    }
}

@media (max-width: 450px) {
    .catalog {
        & .catalogDesc {
            > p {
                max-width: 80%;
            }
        }
    }
}