.Products {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    padding: 0 15%;
}

.Subtitle {
    margin-bottom: 20px;
    font-size: clamp(20px, 5vw, 50px);
}

.catalog {
    width: 100%;
    margin: 100px 0 50px 0;
    
    .catalogDesc {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
        
        > h2 {
            font-size: clamp(20px, 5vw, 50px);
        }
        
        > p {
            font-size: clamp(12px, 2vw, 18px);
            max-width: 100%;
            padding: 0 10%;
        }
    }
    
    .catalogItems {
        width: 100%;
        box-shadow: 0 2px 8px rgba(1, 1, 1, 0.1);
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 5%;
        padding: 5%;
        
        >h2 {
            font-size: clamp(20px, 5vw, 50px);
        }
        
        .catalogItem {
            width: 20%;
            
            img {
                width: 100%;
                object-fit: cover;
            }
            
            h5 {
                font-size: clamp(12px, 2vw, 17px);
                margin: 10px 0px 10px 0px;
            }
            
            p {
                font-size: 14px;
                text-align: left;
            }
        }
        
        @media (max-width: 940px) {
            .catalogItem {
                width: 30%;
            }
        }
        
        @media (max-width: 480px) {
            .catalogItem {
                width: 45%;
            }
        }
    }
} 



.products_tabs {
    width: 100%;
    margin-top: 3%;
    display: flex;
    gap: 10px;
    justify-content: center;
    cursor: pointer;
    
    > div {
        font-size: clamp(12px, 2vw, 14px);
        padding: 10px 20px;
        box-shadow: 0 2px 8px rgba(1, 1, 1, 0.1);
        transition: all 500ms ease;
        border-radius: 8px;
        border: 1px solid transparent;
        a {
            text-decoration: none;
            color: #000;
        }
        &:hover {
            border: 1px solid var(--lightTextColor);
            box-shadow: none;   
        }
    }
}

@media (max-width: 950px) {
    .products_tabs {
        flex-wrap: wrap;
    }
}

@media (max-width: 500px) {
    .products_tabs {
        > div {
            width: 100%;
        }
    }
}