:root {
    --lightTextColor: #e1e1e1; 
    --navbarBgColor: #333;
    --appMainColor: #004456;
    --appButtonColor: #14ACE9;
}

.app_mainButton {
    padding: 8px 10px;
    border: 2px solid var(--appButtonColor);
    border-radius: 10px;
    text-transform: uppercase;
    background-color: var(--appButtonColor);
    font-weight: 600;
    cursor: pointer;
    transition: all 500ms ease;
    font-size: clamp(12px, 1vw, 20px);
    text-decoration: none;
    color: var(--navbarBgColor);

}

@media (hover: none) {
    .app_mainButton {
        color: initial;
    }
}

@media (max-width: 480px) {
    .app_mainButton {
        padding: 5px 7px;
    }
}